body{
margin:0;
font-family:Arial;
background:#f7f3ee;
}

h1{
text-align:center;
margin:25px 0;
}

/* גלריה */

#gallery{
width:100%;
}

.product{
display:flex;
flex-direction:column;
align-items:center;
padding:40px 0;
}

.product img{
max-width:90%;
max-height:70vh;
border-radius:10px;
}

.name{
margin-top:10px;
font-size:20px;
}

.price{
font-size:18px;
}

.status{
font-size:14px;
}

.instock{color:green;}
.outstock{color:red;}

/* מודאל */

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100vw;
height:100vh;
background:rgba(0,0,0,0.85);
align-items:center;
justify-content:center;
z-index:1000;
}

.modal-card{
background:white;
color:black;
border-radius:12px;
padding:25px;
width:90%;
max-width:420px;
text-align:center;
max-height:90vh;
overflow-y:auto;
}

.modal-card img{
width:100%;
border-radius:10px;
margin-bottom:15px;
}

/* כפתור סגירה */

#close{
position:absolute;
top:20px;
right:25px;
font-size:30px;
cursor:pointer;
color:white;
}

/* כפתור אדמין */

#adminBtn{
position:fixed;
bottom:20px;
right:20px;
width:40px;
height:40px;
border-radius:50%;
background:black;
color:white;
border:none;
}

#addBtn{
position:fixed;
bottom:70px;
right:20px;
width:40px;
height:40px;
border-radius:50%;
background:green;
color:white;
border:none;
display:none;
}